<h1>
    <a class="btn btn-primary">Your Languages</a>

    <a href="/" class="btn btn-primary">Look for tutors</a>
    <!--clicking the icon only refreshes the page for now-->

    <a href="/teacher-form" class="btn btn-primary">I'm a tutor</a>

    <a href="/show-all-tutors" class="btn btn-primary">Show all tutors</a>
    <p class="btn d-flex justify-content-end"><%= user.email %></p>
    <% if(user.email === "") {%>
        <a href="/login-form" class="btn justify-content-end d-inline-block">Log in</a>
     <% }else {%>
    <a href="/log-out" class="btn justify-content-end d-inline-block">Log out</a>
    <div class="d-flex justify-content-end d-inline-block">
        <form action="/delete-account/<%= user.id %>?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" class="btn" style="background-color: red; border-radius: 5px;">
                Delete Account
            </button>
        </form>
    </div>
    <% } %>
</h1>
<hr>