<h1>
    <a href="/corporate" class="btn btn-primary">Your Languages</a>
    <a href = "/" class="btn btn-primary">Look for tutors</a>
    <!--clicking the icon only refreshs the page -->
    <a href="/teacher-form" class="btn btn-primary">I'm a tutor</a>
    <a href="/show-all-tutors" class="btn btn-primary">Show all tutors</a>
    <a href="/login-form" class="btn d-flex justify-content-end">Log in</a>
</h1>    
<hr>

  