
<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body class="container mt-4">
    <%- include('partials/header.ejs') %>

    <% if(users.length){ %>
        <div class="mb-3">
            <label for="language" 
            class="form-label" 
            id="languageLabel">
            Select by Subjects:
        </label>
            <select name="language" 
            class="form-select" 
            id="language" 
            aria-describedby="languageHelpBlock">
                <option value="All Languages" selected>
                    All Languages</option>
                <option value="English">English</option>
                <option value="Spanish">Spanish</option>
                <option value="France">France</option>
                <option value="Chinese">Chinese</option>
                <option value="Catalan">Catalan</option>
                <option value="Japanese">Japanese</option>
                <option value="German">German</option>
                <option value="Russian">Russian</option>
                <option value="Italian">Italian</option>
                <option value="Arabic">Arabic</option>
                <option value="Korean">Korean</option>
                <option value="Portuguese">Portuguese</option>
            </select>
            <div id="languageHelpBlock" class="form-text">

        <div class="row" id="userList"></div>
        <% } %>
        </div>

    </div>
    <% if(users.length){ %>
        <!-- Embed users data in the page -->
        <script type="application/json" id="users-data">
            <%- JSON.stringify(users) %>
        </script>
        
        <div class="form-group" style="margin-bottom: 10px;">
            <!-- Your dropdown and other HTML content here -->
        </div>

        <div class="row" id="userList">
            <!-- Users will be dynamically added here -->
        </div>
    <% } %>
    
    <script src="/js/filterUser.js"></script>
</body>
</html>
