<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head.ejs') %>
<body class="container mt-4">
    <%- include ('partials/header.ejs') %>

    <% if(users.length){ %>

        <!-- Dropdown menu for selecting subject -->
        <!-- Language Selection -->
        <div class="form-group" style="margin-bottom: 10px;">
            <label for="language" id="languageLabel">Select Subject:</label>
            <select name="language" class="form-control" id="language">
                <option value="0" selected>English</option>
                <option value="1">Spanish</option>
                <option value="2">France</option>
                <option value="3">Chinese</option>
                <option value="4">Catalan</option>
                <option value="5">Japanese</option>
                <option value="6">German</option>
                <option value="7">Russian</option>
                <option value="8">Italian</option>
                <option value="9">Arabic</option>
                <option value="10">Korean</option>
                <option value="11">Portuguese</option>
            </select>
        </div>

        <div class="row" id="userList">
            <!-- Users will be dynamically added here -->
        </div>

    <% } %>

    <script>
        // Get the select element by its ID
        var languageSelection = document.getElementById('language');
        // Remember that "user" and "users" are not the same
        // "user" is the logged account while "users" is the entire list of elements of the db/json
        //var user = <%- JSON.stringify(user) %>; 
        // I HAD A PROBLEM READING THE ACCOUNT PROBABLY BECAUSE SOME PROBLEMS WITH THE SESSION
        //var users = <%- JSON.stringify(users) %>;
        //console.log("user: "+user.firstName)
        //console.log("users: " + users)

        // Function to filter users based on language selection
        // Verify the user type, price and selected language 
        function filterUsers(language) {
            
            var filteredUsers = users.filter(function(element) {
                // Modify this condition based on your data structure
                /*
                if (user.userType === "student") {
                    console.log("This is a student account")
                    return element.language === language;
                }
                */
                return element.language === language;
                // Here is where we add the filters, we can add more for teachers accounts
                // ...
                
            });
    
            return filteredUsers;
        }
    
        // Function to display filtered users
        function displayUsers(filteredUsers) {
            var userList = document.getElementById('userList');
            userList.innerHTML = ''; // Clear previous user list
    
            filteredUsers.forEach(function(element) {
                // Create HTML elements to display user information
                var userCard = document.createElement('div');
                userCard.className = 'col-lg-4 col-md-6 mb-3';
                userCard.innerHTML = `
                    <div class="card h-100 shadow-sm">
                        <div class="card-header bg-success text-white">
                            <div class="d-flex justify-content-between align-items-center">
                                <img src="${element.imagePath}" class="rounded-circle" alt="${element.name}" style="width: 50px; height: 50px;">
                                <div class="ms-2">
                                    <h5 class="mb-0">${element.firstName} ${element.lastName}</h5>
                                    <small>${element.email}</small>
                                </div>
                                <span class="badge bg-danger">${element.userType}</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">${element.description}</p>
                        </div>
                    </div>
                `;
    
                // Append user card to user list
                userList.appendChild(userCard);
            });
        }
    
        // Add an event listener for the change event
        languageSelection.addEventListener('change', function() {
            // Get the value of the selected option
            var selectedLanguage = languageSelection.value;
            console.log('Selected Language:', selectedLanguage);
    
            // Filter users based on selected language
            var filteredUsers = filterUsers(selectedLanguage);
    
            // Display filtered users
            displayUsers(filteredUsers);
        });
    
        // Initial display of users when the page loads
        var initialLanguage = languageSelection.value;
        var initialFilteredUsers = filterUsers(initialLanguage);
        displayUsers(initialFilteredUsers);
    
    </script>
</body>
</html>
