<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body class="container">
    <%- include('partials/navbar.ejs') %>
    <h1><%= title %></h1>
    <div class=" col-xs-8 col-xs-offset-2">
        <h2 class="text-center">Add a new tutor</h2>
        <form method="post" action="/teacher-form/create">
          <div class="form-group"></div>
            <label for="name">Name:</label>
            <input type="text"
             name="name" 
             id="tutor-name" 
             class="form-control" 
             placeholder="Enter a new tutor" 
             required> 
          </div>

          <div class="form-group" >
            <label for="body">Description:</label>
            <textarea 
             class="form-control" 
             id="tutor-description"
             name="description" 
             rows="3" 
             placeholder="I am an English teacher with N years experiences..." 
             required></textarea>
          </div>
          <div class="form-group" style="margin-top: 5px;">
            <input type="submit" value="Create" class="btn btn-primary ">
          </div>
    </form>
</body>
</html>