<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body class="theme-green container mt-4">
    <%- include('partials/header.ejs') %>

    <% if(users.length){ %>
        <div class="mb-3 d-flex justify-content-start align-items-end">
            <!-- Existing language select -->
            <div class="form-row">
                <label for="language" class="form-label fw-bold" id="languageLabel">Select by Languages:</label>
                <select name="language" class="form-select" id="language" aria-describedby="languageHelpBlock">
                    <option value="All Languages" selected>
                        All Languages</option>
                    <option value="English">English</option>
                    <option value="Spanish">Spanish</option>
                    <option value="France">France</option>
                    <option value="Chinese">Chinese</option>
                    <option value="Catalan">Catalan</option>
                    <option value="Japanese">Japanese</option>
                    <option value="German">German</option>
                    <option value="Russian">Russian</option>
                    <option value="Italian">Italian</option>
                    <option value="Arabic">Arabic</option>
                    <option value="Korean">Korean</option>
                    <option value="Portuguese">Portuguese</option>
                </select>
                <div id="languageHelpBlock" class="form-text">
                    <!-- Help text if needed -->
                </div>
            </div>

            <!-- New price range slider -->
            <div style="margin-left: 20px;" class="form-row slider-container">
                <label for="priceRange" class="form-label fw-bold">Under What Price:</label>
                <div class="slider-container">
                <input type="range" id="priceRange" name="priceRange"
                       min="0" max="100" value="100" oninput="updatePriceDisplay(this.value)">
                <span id="priceDisplay">100€/h</span>
                </div>
            </div>
        </div>
        
        <!-- Embed users data in the page -->
        <script type="application/json" id="users-data">
            <%- JSON.stringify(users) %>
        </script>
        
        <!-- Existing dropdown and other HTML content here -->
        <div class="form-group" style="margin-bottom: 10px;">
            <!-- Your dropdown and other HTML content here -->
        </div>

        <!-- Users will be dynamically added here -->
        <div class="row" id="userList">
            <!-- Users will be dynamically added here -->
        </div>
    <% } %>
    
    <script>
        function updatePriceDisplay(value) {
            document.getElementById('priceDisplay').innerText = value + '€/h';
        }
    </script>
    
    <script src="/js/filterUsers.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
