<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/assets/logo.png" alt="logo" style="width: 100px; height: auto;"/>
        </a>
        <div class="d-flex align-items-center">
            <% if (user.email === "") { %>
                <a href="/login-form" class="btn btn-outline-success me-2">Log in</a>
                <a href="/register-form" class="btn btn-success">Register</a>
            <% } else { %>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                        <img  alt="User Image" class="rounded-circle me-2" style="width: 50px; height: 50px;" src="<%= user.imagePath%>">
                        <small class="text-dark"><%= user.email %></small>
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
                        <li>
                            <a class="dropdown-item" href="/edit-profile/<%= user.id %>" data-profile="true">Edit Profile</a>
                        </li>
                        <li>
                            <a class="dropdown-item text-danger" href="/log-out" id="logout-button">Log out</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form action="/delete-account/<%= user.id %>?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="dropdown-item text-danger delete-account-button" type="submit">Delete account</button>
                            </form>
                        </li>
                    </ul>
                </div>
            <% } %>
        </div>
    </div>
</nav>
<hr>
